.list-inline{
	padding: 0;
	list-style: none;
	text-align: end;
	margin: 0px 80px;
}

.list-inline li{
	display: inline;
	margin: 0 16px;
	font-size: 30px;
}


#footer{
	background-color: black;
	color: white;
	margin: 10px auto;
	padding: 40px;
}

#footer div{
	background-color: black;
}


i{
	color: #ff35e9;
}

#contact{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color:white;
	align-items: center;
}

#contact a{
	color: white;
}
